$gridColumns: 12;


[class*='col-']{
  float: left;
  margin:0;
  padding:0.2em;
}
[class='container']{
  margin: 0 auto;
}

.container{
  max-width: 80%;
}

.container-fluid{
  max-width: 100%;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}
/**
 * Loop to generate grid columns
 */
@for $i from 1 through $gridColumns {

  .col-#{$i} {
    width: (100/$gridColumns*$i)#{'%'};
  }
  .offset-#{$i}{
    margin-left: (100/$gridColumns*$i)#{'%'} ;
  }
  .half-offset-#{$i}{
    margin-left: (100/$gridColumns*$i/2)#{'%'};
  }
}