html, body{
    height: 100%;
    background: repeat fixed url('../images/background.png');
}
.page-wrapper{

}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/** main **/
.main-wrapper{
    min-height: inherit;
}

/** sidebar **/
.sidebar-wrapper{
    position: fixed;
    height: 100%;
    padding: 0;
    background-color: #222222;
    min-height: inherit;
}
.navigation-wrapper{

}
.navigation-wrapper > ul{
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.navigation-wrapper > ul > li{
    height:50px;

}
.navigation-wrapper > ul > li > a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
}
.navigation-wrapper > ul > li > a:hover{
    background-color: #5e5e5e;
}

/** content **/
.content-wrapper{
    position: relative;
    background-color: white;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #cccccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 20px;

}
/** Home **/
.solution-heading{

}

#bug-overview-table > tbody > tr{
    border-bottom: 1px solid #5bc0de;
}
#bug-overview-table > tbody > tr:nth-child(4){

}

.bug-report-button{
    border: 1px solid white;
}

.bug-report-button > a{
    display: block;
    background-color:  #2e6da4;
    color: white;
    text-align: center;
    border-radius: 5px;
    height:30px;
    line-height: 30px;
    vertical-align: middle;
}
.bug-report-top{
    border-top: 10px groove #2e6da4;
}
