.pull-right{
    float: right
}
td:nth-child(-n+6){
    min-width: 150px;
    text-align: center;
}
td:nth-child(7), tr > td [id=total]{
    min-width: 90px;
    text-align: right;
}
#total{
    border-top: 1px groove grey;
}

.error{
    color: red;
}
.success{
    color: green;
}