/** File that contains the generated grid rows **/
@import "grid.css";
@import 'https://fonts.googleapis.com/css?family=Work+Sans';

/**
 * Global selector to reset cross browser styles.
 */
*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: 'Work+Sans', sans-serif;
}
/**
 * Make sure the body is 100% for the sticky footer.
 */
html, body{
    height: 100%;
    margin: 0;
}

/**
 * Define variables.
 */
:root{
    --color-blue: rgb( 32,105,211 );
    --color-purple: rgb( 75,10, 115 );
    --color-pink: rgb( 161,14,155 );
    --gradient-angle: 20deg;
}

/**
 * Global page styles.
 */
.page-wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

/**
 *  Header styles
 */
.header-wrapper{
    background: linear-gradient( var(--gradient-angle), var(--color-blue) 0%, var(--color-purple) 50%, var(--color-pink) 100%);
    height: 150px;
}

.brand-logo{
    width: 160px;
    height: 130px;
}

/* Navigation menu styles*/
.nav-wrapper{

}

.nav-wrapper > ul{
    margin-top: 30px;
    list-style: none;
}

.nav-wrapper > ul > li{
    float: left;
    width: 20%;
}

.nav-wrapper > ul > li > a{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 1.8em;
    text-decoration: none;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 10px;
}

.nav-wrapper > ul > li > input{
    width: 80%;
    height: 2.5em;
    margin-top: 5px;
}

.nav-wrapper > ul > li>a:hover{
    background: rgba(255,255,255,0.2);
}

/* Language wrapper styles*/
.lang-wrapper{
    padding-right: 3%;
}
.flag-icon{
    height: 50px;
    width:  60px;

    float: right;
}

.flag-spacer{
    width: 20px;
    height: 50px;
    float: right;
}

.flag-spacer-item{
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 2px;
    height: 30px;
    margin-top: 10px;
}

.header-image-wrapper{
    height: 250px;
    overflow: hidden;
}

.header-background-image{
    margin-top: -250px;
    width: 100vw;
}

/**
 * Page content styles.
 */
.main-wrapper{
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

/**
 * Page footer.
 */
.footer-wrapper{
    height: 50px !important;
    background: linear-gradient( var(--gradient-angle), var(--color-blue) 0%, var(--color-purple) 50%, var(--color-pink) 100%);
}
.footer-links{
    float: left;
    margin-left: 10px;
    color: white;
    line-height: 45px;
    vertical-align: middle;
    text-decoration: none;
}
.footer-links:first-child{
    margin-left: 5%;
}

/**
 * Support classes.
 */
.center{
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    text-align: center;
}

.pull-right{
    float: right;
}
/**
 * Colors used
 */
.color-heading-2{
    color: #c515c3;
}
.widget-text{
    padding-right: 50px;
}

.color-link{
    color: #3d46c5;
}

/**
 * Simple grid
 */
[class='container']{
    margin: 0 auto;
}

.container{
    max-width: 90%;
}

.container-fluid{
    max-width: 100%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}