{% extends 'index.html.twig' %}

{% block content %}
    <h1>Flight survey</h1>
    <a href="insertFlight"><button type="button" class="btn btn-info">Insert an flight</button> </a>
    <a href="insertSurvey"><button type="button" class="btn btn-info">Insert an survery</button> </a>
    <a href="viewSurvery"><button type="button" class="btn btn-info">view surveys</button> </a>

{% endblock %}
