{% extends 'index.html.twig' %}

{% block content %}
    <h1>Insert a new flight in the database</h1>

    <form action="insertFlight" method="post">

        <div class="row">

            <label for="flight_number" class="col-lg-3">
                Flight number
            </label>
            <input type="text" id="flight_number" name="flight_number" class="col-lg-3" placeholder="3.1415" />

            <label for="flight_time" class="col-lg-3">
                Flight time
            </label>

            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" id="flight_time" name="flight_time"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>

        </div>

        <div class="row">

            <label for="flight_orgin" class="col-lg-3">
                flight origin
            </label>
            <input type="text" id="flight_orgin" name="flight_orgin" class="col-lg-3" placeholder="Amsterdam" />

            <label for="flight_destenation" class="col-lg-3">
                Flight destination
            </label>
            <input type="text" id="flight_destenation" name="flight_destenation" class="col-lg-3" placeholder="London" />

        </div>

        <div class="row col-lg-12">
            <br>
            <button class="btn btn-info" type="submit">Insert an new flight</button>
        </div>

        <h3 class="text-center">{{ message | raw }}</h3>
    </form>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker({
                locale: 'nl',
                format: 'Y-M-d HH:mm'
            });
        });
    </script>


{% endblock %}