{% extends 'index.html.twig' %}

{% block content %}
    <style>
        .br-widget{
            margin-left:15px;
        }
        .submit-button{
            position: relative;
            margin-top:30px;
        }
    </style>
    <h1>Insert an survey</h1>
    <form action="insertSurvey" method="post">

        <div class="row">
            <label for="friendliness_staff" class="col-lg-12">
                Friendliness of the staff.
            </label>
            <select id="friendliness_staff" name="friendliness_staff" class="col-lg-12 rating-box">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <div class="row">
            <label for="luggage_space" class="col-lg-12">
                Amount of luggage space.
            </label>
            <select id="luggage_space" name="luggage_space" class="col-lg-12 rating-box">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <div class="row">
            <label for="comfort_seating" class="col-lg-12">
                The comfort of the seating.
            </label>
            <select id="comfort_seating" name="comfort_seating" class="col-lg-12 rating-box">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <div class="row">
            <label for="cleanlines_arcraft" class="col-lg-12">
                Cleanliness of the aircraft.
            </label>
            <select id="cleanlines_arcraft" name="cleanlines_arcraft" class="col-lg-12 rating-box">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <div class="row">
            <label for="noice_level" class="col-lg-12">
                The noise level during flight.
            </label>
            <select id="noice_level" name="noice_level" class="col-lg-12 rating-box">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <div class="row col-lg-4">

            <label for="flight_origin">
                Flight origin
            </label>

            <select id="flight_origin" name="flight_origin" class="form-control">
                <option>Select an option</option>
                {% for flightOrigin in flightOrigins %}
                    <option value="{{ flightOrigin }}">{{ flightOrigin }}</option>
                {% endfor %}
            </select>

        </div>

        <div id="flight_destination_holder" class="row col-lg-4 hidden">

            <label for="flight_destination">
                Flight destination
            </label>

            <select id="flight_destination" name="flight_destination" class="form-control">
                <option>Select an option</option>
            </select>

        </div>

        <div id="flight_time_holder" class="row col-lg-4 hidden">

            <label for="flight_time">
                Flight time
            </label>

            <select id="flight_time" name="flight_time" class="form-control">
                <option>Select an option</option>
            </select>

        </div>

        <div class="row col-lg-12">
            <br>
            <button class="btn btn-info" id="submit-button" type="submit"> Send us your feedback </button>

        </div>
        <br>
        <br>
        <h3 class="text-center">{{ message | raw }}</h3>
    </form>

    <script type="text/javascript">
        $(function() {
            $('.rating-box').barrating({
                theme: 'bars-1to10'
            });
        });

        var $origin_select_element = $('#flight_origin');
        var $destination_select_element = $('#flight_destination');
        var $time_select_element = $('#flight_time');

        var $destination_select_holder = $('#flight_destination_holder');
        var $time_select_holder = $('#flight_time_holder');

        $origin_select_element.change(function() {
            // Reset the destination
            $destination_select_element.empty();
            $destination_select_element.append( '<option>Select an option</option>' );
            $destination_select_holder.addClass('hidden');
            $time_select_holder.addClass('hidden');

            console.log('Orgin select change');
            $.post( "insertSurvey/getDestination", { origin: $origin_select_element.val() }).done(function( data ) {

                console.log( data );

                // Append the destination options to the destination select.
                for( var iteration = 0; iteration < data.length; iteration++ )
                {
                    var obj = data[ iteration ];
                    console.log( obj );
                    $destination_select_element.append('<option value="' + obj.flight_destenation + '">' + obj.flight_destenation + '</option>');
                }

                if( iteration > 0 ) {
                    // Make the new select visible.
                    $destination_select_holder.removeClass('hidden');
                }

            });
        });

        $destination_select_element.change( function () {
            $time_select_element.empty();
            $time_select_element.append( '<option>Select an option</option>' );
            console.log('Destination select change');
            $.post( "insertSurvey/getTime", { origin: $origin_select_element.val(), destination: $destination_select_element.val() }).done(function( data ) {

                console.log( data );

                // Append the destination options to the destination select.
                for( var iteration = 0; iteration < data.length; iteration++ )
                {
                    var obj = data[ iteration ];
                    $time_select_element.append('<option value="' + obj.id + '">' + obj.flight_time + '</option>');
                }

                if( iteration > 0 ) {
                    // Make the new select visible.
                    $time_select_holder.removeClass('hidden');
                }

            });
        });
        
        $time_select_element.change( function () {
            $time_select_holder.append( '<input type="hidden" name="flight_id" value="' + $time_select_element.val() + '" />' );
        })


    </script>
{% endblock %}