{% extends 'index.html.twig' %}

{% block content %}
    <h1>Flight surveys</h1>

    <table class="table">
        <thead>
        <tr>
            <th colspan="6">Overall survey results</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-lg-2">
                <b>Friendlyness of staff</b>
            </td>
            <td class="col-lg-2">
                {{ overall.friendliness_staff }}</td>

            <td class="col-lg-2">
                <b>Luggage_space</b>
            </td>
            <td class="col-lg-2">{{ overall.luggage_space }}</td>

            <td class="col-lg-2">
                <b>Comfort of seating</b>
            </td>
            <td class="col-lg-2">{{ overall.comfort_seating }}</td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <b>Cleanlines of aircarft</b>
            </td>
            <td class="col-lg-2">{{ overall.cleanlines_arcraft }}</td>

            <td class="col-lg-2">
                <b>Noise level</b>
            </td>
            <td class="col-lg-2">{{ overall.noice_level }}</td>

        </tr>
        </tbody>
    </table>

    <h3>All servey results</h3>
    {% for survey in surveys %}
        <table class="table">
            <thead>
            <tr>
                <th colspan="6">Survey result</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-lg-3">
                    <b>ID: </b>
                </td>
                <td class="col-lg-3">{{ survey.id }}</td>

                <td class="col-lg-3">
                    <b>Friendlyness of staff</b>
                </td>
                <td class="col-lg-3">{{ survey.friendliness_staff }}</td>
            </tr>

            <tr>
                <td class="col-lg-3">
                    <b>Luggage_space</b>
                </td>
                <td class="col-lg-3">{{ survey.luggage_space }}</td>

                <td class="col-lg-3">
                    <b>Comfort of seating</b>
                </td>
                <td class="col-lg-3">{{ survey.comfort_seating }}</td>
            </tr>
            <tr>
                <td class="col-lg-3">
                    <b>Cleanlines of aircarft</b>
                </td>
                <td class="col-lg-3">{{ survey.cleanlines_arcraft }}</td>

                <td class="col-lg-3">
                    <b>Noise level</b>
                </td>
                <td class="col-lg-3">{{ survey.noice_level }}</td>
            </tr>
            <tr>
                <td class="col-lg-3">
                    <b>Flight origin</b>
                </td>
                <td class="col-lg-3">{{ survey.flight_orgin }}</td>
                <td class="col-lg-3">
                    <b>Flight destination</b>
                </td>
                <td class="col-lg-3">{{ survey.flight_destenation }}</td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endfor %}

{% endblock %}