{% extends 'index.html.twig' %}

{% block content %}
    <h1>Flights</h1>
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Time</td>
            <td>Flight number</td>
            <td>Flight origin</td>
            <td>Flight destination</td>
        </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
                <tr>
                    <td>{{ flight.id }}</td>
                    <td>{{ flight.flight_time }}</td>
                    <td>{{ flight.flight_number }}</td>
                    <td>{{ flight.flight_orgin }}</td>
                    <td>{{ flight.flight_destenation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}