$gridColumns: 12;

[class*='col-']{
  float: left;
  margin:0;
  padding:0.2em;
}

/**
 * Loop to generate grid columns
 */
@for $i from 1 through $gridColumns {

  .col-#{$i} {
    width: (100/$gridColumns*$i)#{'%'};
  }
}

/**
 * Loop to generate grid offsets
 */
@for $i from 1 through $gridColumns {
  .offset-#{$i}{
    margin-left: (100/$gridColumns*$i)#{'%'} ;
  }
}

/**
 * Loop to generate grid half offsets
 */
@for $i from 1 through $gridColumns {
  .half-offset-#{$i}{
    margin-left: (100/$gridColumns*$i/2)#{'%'};
  }
}