/** The file that contains the grid columns **/
@import "grid.css";
/** The ubuntu font family **/
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

/**
 * Global selector to reset cross browser styles.
 */
*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/**
 * Global page styles.
 */
.page-wrapper{

}

body{
    background: repeat url('../images/background.png');
}

:root {
    --dark-color: #222222;
    --grey-color: #5e5e5e;
    --light-color: #eeeeee;
}

/**
 *  Navigation menu & sidebar styles.
 */
.nav-wrapper{
    height: 100vh;
    box-shadow: 5px 5px 10px var(--grey-color);
}

.nav-wrapper > ul{
    margin-top: 20px;
}

.nav-wrapper > ul > li > a{
    vertical-align: middle;
    line-height: 50px;
    display: block;
    height:50px;
    text-decoration: none;
    color: var(--light-color);
}

.nav-wrapper > ul > li{
    border-bottom: 1px solid var(--grey-color);
}

.nav-wrapper > ul > li:first-child{
    border-bottom: 1px solid var(--grey-color);
    border-top: 1px solid var(--grey-color);
    position: relative;
}

.nav-wrapper > ul > li:hover{
    cursor: pointer;
    background-color: var(--grey-color);
}

.brand-background{
    margin-top: 20px;
    height: 140px;
    width:140px;
    border-radius: 100px;
    background-color: var(--grey-color);
}

.brand-logo{
    height: 140px;
    width:150px;
    border-radius: 100px;
    background-color: var(--grey-color);
    background: no-repeat center url('../images/logo.png');
}

/**
 * Page content styles.
 */
.main-wrapper{
    background-color: white;
    min-height: 400px;
    margin-top: 50px;
    border-radius: 20px 60px 20px 60px;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 10px var(--grey-color);
    padding: 50px;
}

/**
 * Support classes.
 */
.center{
    margin-left: auto;
    margin-right: auto;
}

.vertical-center{
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
}

.text-center{
    text-align: center;
}

/**
 * Colors used
 */

.dark-background{
    color: var(--light-color);
    background-color: var(--dark-color);
}

.grey-background{
    color: var(--grey-color);
    background-color: var(--grey-color);
}

/**
 * Simple grid
 */
[class='container']{
    margin: 0 auto;
}

.container{
    max-width: 80%;
}

.container-fluid{
    max-width: 100%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}