{% extends 'index.html.twig' %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-error">

            <div class="panel-body">
                {% if devmode %}
                    <h1>An exception was thrown.</h1>
                    {{ dump( exception ) }}
                {% else %}
                    <h1>Error 500 - Er ging iets mis probeer later opnieuw.</h1>
                    <br />
                    <a href="home">Klik hier om terug te gaan naar de home pagina.</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}