{% extends 'index.html.twig' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-home">

            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-1 pull-left">
                        <img class="header-avatar-image pull-left" src="images/uploads/{{ user.getImagePath() }}" alt="Avatar image" />
                    </div>
                    <h1 class="pull-left col-md-9" style="text-align: center">Welcome {{  user.getUsername() }}</h1>
                    <div class="pull-left col-md-2">
                        <a href="logout"><button class="btn btn-danger col-md-12"><i class="glyphicon glyphicon-log-out"></i> Logout</button></a>
                        <a href="allTweets"><button onclick="logout()" class="btn btn-success col-md-12"><i class="glyphicon glyphicon-list-alt"></i> View tweets</button></a>
                    </div>
                </div>
                <hr>
            </div>

            <div class="panel-body">

                <form id="tweet-form" method="POST" action="handleTweet">

                    <div class="form-group">
                        <label for="message">Type your tweet</label>
                        <textarea id="message" name="message" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" name="tweet" id="tweet" tabindex="1" class="form-control btn btn-info" value="Tweet">
                        </div>
                    </div>

                </form>
            </div>

            <div class="panel-body">

                {% for tweet in tweets %}

                    <div class="row">

                        <div class="col-lg-2">
                            <img src="{{ tweet.image }}" alt="Tweet image" class="tweet-image" />
                        </div>

                        <div class="col-lg-10">
                            <p class="tweet-text">
                                {{ tweet.text }}
                            </p>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
    <script>
        $("form#tweet-form").submit(function( e ) {
            e.preventDefault();
            var formData = new FormData( $(this)[0] );

            // Send the request.
            $.ajax({
                url:  $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                async: true,
                success: function (data) {
                    if( data.message != 'error' )
                    {

                    }
                    else
                    {
                        $feedback = ( '#register-feedback' );
                        $feedback.removeClass('hidden');
                        $feedback.empty();
                        $feedback.append( '<span class="text-danger">'+data.message+'</span>' );
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });

        });
    </script>
{% endblock %}
