<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Stenden twitter</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-bar-rating/dist/themes/bars-1to10.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="css/paint.css" />

    <script src="http://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>

    {#
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.nl.min.js"></script>
    #}

</head>
<body>
<div class="page-wrapper container-fluid">

        <main class="main-wrapper row">
        {% block content %}
            <section class="content-wrapper col-lg-offset-3 col-lg-8">
            </section>
        {% endblock %}
    </main>
    <footer>

    </footer>
</div>
</body>
</html>