{% extends 'index.html.twig' %}

{% block content %}

    <div class="">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>

                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>

                    </div>
                    <hr>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="HandleLogin" method="POST" role="form" style="display: block;">

                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
                                </div>

                                <div id="login-feedback" class="form-group text-error hidden" style="height: 45px;">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <form id="register-form" action="HandleRegister" method="POST" role="form" enctype="multipart/form-data" style="display: none;">

                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" required />
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" required />
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" pattern="{8,}" title="The password must be 8 characters or more characters" required />
                                </div>

                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password"  pattern="{8,}" title="The password must be 8 characters or more characters"  required />
                                </div>

                                <div class="form-group" style="height: 45px;">
                                    <label class="btn btn-default col-lg-12">
                                        Choose an avatar <input tabindex="3" type="file" name="file" class="form-control" style="display: none;" required />
                                    </label>
                                </div>

                                <div id="register-feedback" class="form-group text-error hidden" style="height: 45px;">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {

            $('#login-form-link').click( function( e ) {
                $("#login-form").delay( 100 ).fadeIn( 100 );
                $("#register-form").fadeOut( 100 );
                $('#register-form-link').removeClass( 'active' );
                $(this).addClass( 'active' );
                e.preventDefault();
            });

            $('#register-form-link').click( function( e ) {
                $("#register-form").delay( 100 ).fadeIn( 100 );
                $("#login-form").fadeOut( 100 );
                $('#login-form-link').removeClass( 'active' );
                $(this).addClass( 'active' );
                e.preventDefault();
            });


            $("form#register-form").submit(function (e) {
                e.preventDefault();
                var formData = new FormData($(this)[0]);

                // Send the request.
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: formData,
                    async: true,
                    success: function (data) {
                        if (data.message == 'OK') {
                            window.location = 'home'
                        }
                        else {
                            $feedback = ( '#register-feedback' );
                            $feedback.removeClass('hidden');
                            $feedback.empty();
                            $feedback.append('<span class="text-danger">' + data.message + '</span>');
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

            });
        });

        $("form#login-form").submit(function( e ) {
            e.preventDefault();
            var formData = new FormData( $(this)[0] );

            // Send the request.
            $.ajax({
                url:  $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                async: true,
                success: function (data) {
                    console.log(data);
                    if( data.message == 'OK' )
                    {
                        window.location = 'home'
                    }
                    else
                    {
                        $feedback = $( '#login-feedback' );
                        $feedback.removeClass('hidden');
                        $feedback.empty();
                        $feedback.append( '<span class="text-danger">'+data.message+'</span>' );
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });

    </script>
{% endblock %}