{% extends 'index.html.twig' %}

{% block content %}
    <h1>Did you find an bug?</h1>

    <table id="bug-overview-table" class="col-lg-12">
        <thead>
        </thead>
        <tbody>
            {% for bugReport in bugReports %}
                <tr class="bug-report-top">
                    <td><b>ID: </b>{{ bugReport.id }}</td>
                    <td><b>Hardware platform: </b>{{ bugReport.hardware }}</td>
                </tr>
                <tr>
                    <td><b>Product name: </b>{{ bugReport.product_name }}</td>
                    <td><b>Operating system: </b>{{ bugReport.operating_system }}</td>
                </tr>
                <tr>
                    <td><b>Product version: </b>{{ bugReport.product_version }}</td>
                    <td><b>Frequency of occurrences: </b>{{ bugReport.frequensy }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="solution-heading"><b>Possible Solutions</b></td>
                </tr>
                <tr>
                    <td colspan="2" class="bug-report-bottom">{{ bugReport.solutions }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="bug-report-button">
                        <a href="UpdateBugReport?id={{ bugReport.id }}">Edit this bug report</a>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
