<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Bug Report</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/paint.css" />
</head>
<body>
<div class="page-wrapper container-fluid">

    <main class="main-wrapper row">

        <section class="sidebar-wrapper col-lg-2">

            <nav class="navigation-wrapper">
                <ul>
                    <li>
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="FileBugReport">FileBugReport</a>
                    </li>
                </ul>
            </nav>
        </section>

        <section class="content-wrapper col-lg-offset-3 col-lg-8">
            {% block content %}
            {% endblock %}
        </section>

    </main>
    <footer>

    </footer>
</div>
<script src="http://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>