{% extends 'index.html.twig' %}

{% block content %}
    <h1>Update an bug report</h1>
    <form action="handleForm" method="post">

        <div class="row">

            <label for="product_name" class="col-lg-3">
                Product name
            </label>
            <input type="text" id="product_name" name="product_name" value="{{ formdata.product_name }}" class="col-lg-3" placeholder="Microsoft Windows" />

            <label for="product_version" class="col-lg-3">
                Product version
            </label>
            <input type="text" id="product_version" name="product_version" value="{{ formdata.product_version }}" class="col-lg-3" placeholder="Vista, 7, 8, 8.1, 10" />

        </div>

        <div class="row">

            <label for="hardware" class="col-lg-3">
                Hardware
            </label>
            <input type="text" id="hardware" name="hardware" value="{{ formdata.product_version }}" class="col-lg-3" placeholder="Laptop" />

            <label for="operating_system" class="col-lg-3">
                Operating system
            </label>
            <input type="text" id="operating_system" name="operating_system" value="{{ formdata.operating_system }}" class="col-lg-3" placeholder="Winsows 10" />

        </div>

        <div class="row">
            <label for="frequensy" class="col-lg-3">
                frequency
            </label>
            <input type="text" id="frequensy" name="frequensy" value="{{ formdata.frequensy }}" class="col-lg-3" placeholder="Every day" />

        </div>

        <div class="row">
            <label for="solutions" class="col-lg-12">
                Possible solution
            </label>
            <textarea name="solutions" id="solutions" class="col-lg-11 form-control" placeholder="Type here your possible solution">{{ formdata.solutions }}</textarea>
            <input type="hidden" id="id" name="id" value="{{ formdata.id }}" />
        </div>
        <br>
        <button class="btn btn-info col-lg-12" type="submit">Update this bug report</button>
        <br>
        <br>
        <h3 class="text-center">{{ message| raw }}</h3>
    </form>
{% endblock %}