<h3>Wie ben ik? En waar kom ik vandaan?</h3>

<p>Mijn naam is Eshwin en ik ben 21jaar oud. Ik ben geboren op 22-03-1995 in Hoogeveen. Op 3-jarige leeftijd ben ik
    van Hoogeveen naar Drachten verhuisd. Tot de dag van vandaag woon ik hier nog steeds.</p>

<p>Hoogeveen is een plaats in Drenthe. De gemeente heeft een oppervlakte van 129 km² (waarvan 0,19 km² water) en heeft 55.287 inwoners.
    Drenthe behoort zich tot één van de twaalf provincies van Nederland dat in Europa ligt.</p>

<h3>Typisch Nederlands</h3>

<p>Klompen - In het buitenland bestaat het algemene beeld dat veel Nederlanders op klompen lopen. </p>

<p>Molens - Nederland word vaak als een echt molenland gezien. Dat komt vooral door de aanwezigheid van de poldermolens. </p>

<p>Tulpen - De tulp staat symbool voor de Nederlandse bloembollenindustrie. </p>

<p>Sinterklaas - Als er iets echt Nederlands is dan is het wel het Sinterklaasfeest.</p>

<p>Oranje - De kleur oranje staat symbool voor Nederland, het Nederlandse koningshuis en Nederlander sportteams zoals het Nederlands voetbalelftal. </p>

<p>Elfstedentocht - De Elfstedentocht is een schaatstocht van bijna tweehonderd kilometer die in Friesland gehouden wordt.</p>