<style>
    table{
        width: 400px;
    }
    td{
        width:50%;
    }
    h3{
        margin-top: 30px;
    }
    tbody > tr:nth-child(odd){
        background-color: #eeeeff;
    }
</style>
<h1>Webpagina van: Joris</h1>
<h3>Even voorstellen</h3>
<p>
    Hallo mijn naam is Joris Rieveld en ik ben 21 jaar oud. Ik woon in sinds kort in Wedde, daar voor in Veelerveen, Osterhoud, Hank, Osterhoud, Werkendam, Oud Heusden en Tilburg.
    Mijn hobbies zijn programeren, fietsten, tuinieren en naar festivals/feesten gaan.
</p>

<h3>Land van afkomst nederland</h3>
<table>
    <thead>
    <tr>
        <th colspan="2">Basis gegevens nederland:</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Officiële landstaal</td>
            <td>Nederlands</td>
        </tr>
        <tr>
            <td>Hoofdstad</td>
            <td>Amsterdam</td>
        </tr>
        <tr>
            <td>Regerings vorm</td>
            <td>Constitutionele monarchie met een parlementair stelsel</td>
        </tr>
        <tr>
            <td>Staatsvorm</td>
            <td>Gedecentraliseerde eenheidsstaat</td>
        </tr>
        <tr>
            <td>Staatshoofd</td>
            <td>Willie</td>
        </tr>
        <tr>
            <td>Regeringsleider</td>
            <td>Minister-president Mark Rutte</td>
        </tr>
    </tbody>
</table>