#code{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted gray;
    border-radius: 20px;
    background-color: azure;
    padding: 10px;
}
#code legend{
    font-size: 20px;
    font-weight: bold;
}
.center{
    margin-left:auto;
    margin-right:auto;
}